/* First define the Sass var for textt color */

$text-color: #3D3D3D;
$background-color: #6d6d6d;

/* Then to apply the text color to body */
body {
  color: $text-color;
  background-color: $background-color;
}

p {
  color: $text-color;
}

h2 {
  background-color: $background-color;
}
